<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.myframework.pom.testcase.Day1Test">
        <methods>
               <exclude name= "demo2"/>
        </methods>
   
      </class>
      
      <class name="com.myframework.pom.testcase.Day2Test"/>
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
